{% extends 'base.html.twig' %}

{% block title %}competences{% endblock %}

{% block body %}
    <h1 class="" style="text-align: center; color:rgb(250, 242, 242)">Compétences</h1><br>

    <div class="row col-12">
      
        <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
          <img src="/images/image14.png" class="card-img-top" alt="moi">
          
        </div>
        <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
          <img src="/images/image2.png" class="card-img-top" alt="moi">
          
        </div>
        <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
          <img src="/images/image3.png" class="card-img-top" alt="moi">
          
        </div>
        <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
          <img src="/images/image6.png" class="card-img-top" alt="moi">
          
        </div>
       
    </div>
    <div class="row col-12">
      <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
        <img src="/images/image5.png" class="card-img-top" alt="moi">  
      </div>
      <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
        <img src="/images/image4.png" class="card-img-top" alt="moi">   
      </div>
      <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
        <img src="/images/image7.png" class="card-img-top" alt="moi"> 
      </div>
      <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
        <img src="/images/image8.png" class="card-img-top" alt="moi">  
      </div>   
  </div>
  <div class="row col-12">
      
    <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
      <img src="/images/image9.png" class="card-img-top" alt="moi">
      
    </div>
    <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
      <img src="/images/image10.png" class="card-img-top" alt="moi">
      
    </div>   
  </div>
  <div class="row col-12">
      
    <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
      <img src="/images/image11.png" class="card-img-top" alt="moi">
      
    </div>
    <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
      <img src="/images/image12.png" class="card-img-top" alt="moi">
      
    </div>   
  </div>
    

  <h1 class="" style="text-align: center; color:rgb(16, 17, 17)">Autres compétences</h1><br>
  <div class="row col-12">
      
    <div class="card col-4 mb-4 p-0 m-auto" style="width: 18rem;">
      <img src="/images/maintenance.jpg" class="card-img-top" alt="moi">
      
    </div>
    <div class="card col-4 mb-4 p-0 m-auto" style="width: 18rem;">
      <img src="/images/adobe.jpg" class="card-img-top" alt="moi">
      
    </div>   
  </div>

{% endblock %}