{% extends 'base.html.twig' %}

{% block title %}competences{% endblock %}

{% block body %}
    <h1 class="" style="text-align: center; color:rgb(250, 242, 242)">Compétences</h1><br>

    <div class="row col-12">
      
        <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
          <img src="/images/html.png" class="card-img-top" alt="html">
          
        </div>
        <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
          <img src="/images/css3.png" class="card-img-top" alt="css">
          
        </div>
        <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
          <img src="/images/js.png" class="card-img-top" alt="js">
          
        </div>
        <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
          <img src="/images/php.png" class="card-img-top" alt="php">
          
        </div>
       
    </div>
    <div class="row col-12">
      <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
        <img src="/images/mysql.png" class="card-img-top" alt="mysql">  
      </div>
      <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
        <img src="/images/bootstrap.png" class="card-img-top" alt="bootstrap">   
      </div>
      <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
        <img src="/images/yii.png" class="card-img-top" alt="yii"> 
      </div>
      <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
        <img src="/images/symfony.png" class="card-img-top" alt="symfony">  
      </div>   
  </div>
  <div class="row col-12">
      
    <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
      <img src="/images/wordpress.png" class="card-img-top" alt="wordpress">
      
    </div>
    <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
      <img src="/images/drupal.png" class="card-img-top" alt="drupal">
      
    </div>   
  </div>
  <div class="row col-12">
      
    <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
      <img src="/images/git.png" class="card-img-top" alt="git">
      
    </div>
    <div class="card col-4 mb-4 p-0 m-auto" style="width: 10rem;">
      <img src="/images/ps.png" class="card-img-top" alt="ps">
      
    </div>   
  </div>
    

  <h1 class="" style="text-align: center; color:rgb(16, 17, 17)">Autres compétences</h1><br>
  <div class="row col-12">
      
    <div class="card col-4 mb-4 p-0 m-auto" style="width: 18rem;">
      <img src="/images/maintenance.jpg" class="card-img-top" alt="moi">
      
    </div>
    <div class="card col-4 mb-4 p-0 m-auto" style="width: 18rem;">
      <img src="/images/adobe.jpg" class="card-img-top" alt="moi">
      
    </div>   
  </div>

{% endblock %}