{% extends 'base.html.twig' %}

{% block title %}competences{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="/public/css/style.css" >

{% endblock %}

{% block body %}
  <h1 class="" style="text-align: center; color:rgb(14, 13, 13)">Expériences</h1><br>

  <div class="col-6 m-auto" style="background-color: rgb(190, 189, 230); border-radius: 18px;">

    <div class="accordion accordion-flush col-6 mb-4 p-0 m-auto" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              CARECA SERVICES
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ul>
                <li>Développeur Web</li>
                <li>Stage - 2020 - 12 semaines</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              INFORMATIQUE.COM
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ul>
                <li>Maintenance et vente en informatique</li>
                <li>Auto-entrepreneur - 2011 à 2018</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              RL'DEPANNAGE INFORMATIQUE
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ul>
                <li>Maintenance et vente en informatique</li>
                <li>Gérant - 2007 à 2011</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
  </div>
  
<br>

  <h1 class="" style="text-align: center; color:rgb(14, 13, 13)">Formations et diplômes</h1><br>

  <div class="col-6 m-auto" style="background-color: rgb(190, 189, 230); border-radius: 18px;">

    <div class="accordion accordion-flush col-6 mb-4 p-0 m-auto" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingun">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseun" aria-expanded="false" aria-controls="flush-collapseun">
              DEVELOPPEUR WEB ET WEB MOBILE
            </button>
          </h2>
          <div id="flush-collapseun" class="accordion-collapse collapse" aria-labelledby="flush-headingun" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ul>
                <li>Titre de niveau 5 - AFPA LAON</li>
                <li>2020</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingdeux">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsedeux" aria-expanded="false" aria-controls="flush-collapsedeux">
              COMMUNITY MANAGER
            </button>
          </h2>
          <div id="flush-collapsedeux" class="accordion-collapse collapse" aria-labelledby="flush-headingdeux" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ul>
                <li>Formation - AFPA LAON</li>
                <li>2019</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingtrois">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsetrois" aria-expanded="false" aria-controls="flush-collapsetrois">
              GESTION REPRISE ENTREPRISE ET CREATION
            </button>
          </h2>
          <div id="flush-collapsetrois" class="accordion-collapse collapse" aria-labelledby="flush-headingtrois" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ul>
                <li>Formation - AFPA LAON</li>
                <li>2005</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              BTS INFORMATIQUE INDUSTRIEL
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ul>
                <li>AMIENS - Lycée E. Branly</li>
                <li>1995</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              BAC ELECTROTECHNIQUE
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ul>
                <li>PERONNE - Lycée P. Mendès France</li>
                <li>1993</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
  </div>

{% endblock %}