{% extends 'base.html.twig' %}

{% block title %}presentation{% endblock %}

{% block body %}
    <h1 class="" style="text-align: center; color:blanchedalmond">Quelques mots sur moi</h1><br>
    <div class="container" >
        <div class="card m-auto" style="width: 18rem;">
            <img src="/images/image1.png" class="card-img-top" alt="moi">
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">didier@rolland-dev.fr</h5>
              <p class="card-text">06 26 84 27 97</p>
            </div>
            <ul class="list-group list-group-flush" style="text-align: center;">
              <li class="list-group-item">Marié - 49 ans</li>
              <li class="list-group-item">Permis B</li>
              <li class="list-group-item">Sérieux - volontaire - ambitieux - calme</li>
            </ul>
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title">Langues</h5>
                <p class="card-text">Français - Anglais</p>
              </div>
            <div class="card-body" style="text-align: center;">
              <a href="https://www.linkedin.com/in/didier-rolland" class="card-link">Linkedin</a>
            </div>
          </div>
    </div>
{% endblock %}