{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}

            <link rel="stylesheet" href="/public/css/style.css" >

        {% endblock %}

{% block body %}

    <h1 style="text-align: center; color: white">Mes projets</h1><br>

    <div class="row" >
        <div class="col-12">
            <div class="card col-6 mb-4 p-0 m-auto" style="width: 90rem;">
                <img src="{{ asset('/images/projet1.png') }}" class="card-img-top" alt="projet1">
                <h4 style="text-align: center;">https://www.lsautoprestige.com</h4><br>
            </div>
    
            <div class="card col-6 mb-4 p-0 m-auto" style="width: 90rem;">
                <img src="{{ asset('/images/projet2.png') }}" class="card-img-top" alt="projet2">
                <h4 style="text-align: center;">https://www.lespoupeesdemaya.fr (EN COURS)</h4><br>
            </div>
        </div>
        
    </div>

   
    
{% endblock %}

