{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}

            <link rel="stylesheet" href="/public/css/style.css" >

        {% endblock %}

{% block body %}

    <h1 style="text-align: center; color: white">Mes projets</h1>

   
    
{% endblock %}

