<h1>
    Activation de mon compte
</h1>

<p>
    Vous avez créé un compte sur rolland-dev.fr, merci de l'activer en cliquant sur le lien
</p>
<p>
    <a href="{{ absolute_url(path('active', {'token': token} )) }}">Activer mon compte</a>
</p>