.fond
{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/images/network.jpg');
}


.dimension
  {
    height: auto;
    width: 100%;
    display: block;
    align-content: center;
  }

  .bg-light .navbar-light
  {
    background-color: transparent ;
    text-align: center ;
  }
  .navbar-light .navbar-toggler-icon
  {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28146, 141, 65, 0.7%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
  }

  .fondexp
  {
      background-color: cyan;
      border: cyan 1px solid;
      border-radius: 5px;
  }